
#container {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    background: #777;
    font-size: 18px;
    color: #777;
    text-align: center;
    overflow: auto;
}


header {
    background: #ebebeb;
    height: 100px;
    margin: 20px;
}

#Nav {
    background: #ebebeb;
    height: 100px;
    margin: 20px;
}

section {
    position: relative;
    background: #ebebeb;
    width:490px;
    margin-left: 20px;
    height: 315px;
    float: left;
}

#article {
    position: absolute;
    float: left;
    width: 465px;
    color:#ebebeb;
    background-color: #777;
    margin-left: 15px;
    height: 175px;
    margin-top: 50px;
}

#h {
    position: absolute;
    top: 75px;
    width: 435px;
    color:#777;
    background-color: #ebebeb;
    margin-left: 15px;
    margin-top: 25px;
    height: 50px;
}

#p {
    position: absolute;
    width: 435px;
    color:#777;
    background-color: #ebebeb;
    margin-left: 15px;
    margin-top: 15px;
    height: 50px;
}

aside {
    background: #ebebeb;
    width: 415px;
    float: left;
    margin-left: 15px;
    height: 315px;
}

footer {
    background: #ebebeb;
    margin: 20px;
    margin-top: 350px;
    padding-top: 50px;
}
